@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication1byprameshwor.Models.Student
<html>
<head><title>Create Student Records</title></head>
<body>
    <h1>Create Student</h1>

    <form asp-action="CreateStudentRecord" method="post" style="width: 300px;">
        <div class="form-group">
            <label asp-for="StdID">StdID:</label>
            <input asp-for="StdID" class="form-control" />
            <span asp-validation-for="StdID" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Name">Name:</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address">Address:</label>
            <input asp-for="Address" class="form-control"/>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Faculty">Faculty:</label>
            <input asp-for="Faculty" class="form-control"/>
            <span asp-validation-for="Faculty" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>
</body>
</html>
