@model IEnumerable<WebApp5ByPrameshwor.Models.Employee>
<html>
<head><title>Employee List</title></head>
<body>
    <h1>Employees List</h1>

    <table class="table" style="width: 500px;">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.EmpId</td>
                    <td>@employee.EmpName</td>
                    <td>@employee.Salary</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>