<html>
<head>
    <title>Hidden Field</title>
</head>
<body>
    <h6>Hidden Field</h6>
    <form method="post">
        <input type="hidden" name="myHiddenData" value="This is a hidden message." />
        <button asp-controller="HiddenField" asp-action="HiddenFieldPage" type="submit">Submit</button>
    </form>

</body>
</html>